.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.main_menu {
  position: relative;
  z-index: 110;
  background: #c2d2da;
  color: #ffffff;
}
.main_menu li {
  float: left;
  position: relative;
}
.main_menu li:hover ul {
  display: block;
}
.main_menu a {
  display: block;
  padding: 8px 12px;
  color: inherit;
  font-size: 1.15em;
}
.main_menu a:hover {
  background: #a2bbc7;
}
.main_menu a.current {
  background: #a2bbc7;
}
.main_menu ul {
  position: absolute;
  z-index: 0;
  display: none;
  width: 300px;
  background: #ffffff;
  color: #555555;
  -webkit-box-shadow: 0 3px 5px #555555;
  -moz-box-shadow: 0 3px 5px #555555;
  box-shadow: 0 3px 5px #555555;
}
.main_menu ul.open {
  display: block !important;
}
.main_menu ul li {
  float: none;
}
.main_menu ul li a:hover {
  background: #eeeeee;
  color: #555555;
}
.main_menu ul li a.current {
  background: #eeeeee;
  color: #555555;
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
  line-height: 1;
}
.static_menu li + li {
  border-left: 1px solid #888888;
}
.featureditem,
.relatedpages {
  font-size: 0;
}
.featureditem >*,
.relatedpages >* {
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.featureditem li,
.relatedpages li {
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
.featureditem li:nth-child( 3n + 1),
.relatedpages li:nth-child( 3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 800px) and (min-width: 481px) {
  .featureditem li,
  .relatedpages li {
    width: 49%;
  }
  .featureditem li:nth-child(n),
  .relatedpages li:nth-child(n) {
    margin-left: 2%;
  }
  .featureditem li:nth-child( 2n + 1),
  .relatedpages li:nth-child( 2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureditem li:nth-child( 1n + 1),
  .relatedpages li:nth-child( 1n + 1) {
    margin-left: 0;
  }
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-bottom: 30px;
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
aside .listpages li,
aside .listcategories li,
aside .featureditem li,
aside .featureapage,
aside .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.listxrss li {
  margin-bottom: 20px;
}
.listxrss a {
  display: block;
  margin-bottom: 1em;
}
.listxrss a ~ a {
  float: left;
  margin-right: 2%;
}
#left .listxrss a ~ a,
#right .listxrss a ~ a {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.listxrss span {
  display: block;
  font-size: 0.75em;
  color: #7c7c7c;
  margin-bottom: 1em;
}
#left .listxrss p,
#right .listxrss p {
  font-size: 0.85em;
}
.news-item .newslog-admin-actions {
  text-align: right;
}
.news-item .news-date {
  color: #7c7c7c;
}
.news-item .news-date:before {
  top: 2px;
  font-size: 16px;
  color: #c2d2da;
}
.news-item .news-tags a {
  color: #888888;
}
.news-item .news-tags a:hover {
  color: #3c3c3c;
}
.news-item .news-tags a + a {
  margin-left: 0.5em;
}
.news-item .news-tags a:before {
  color: #888888;
  margin-right: 0.5em;
}
.search-results li {
  margin-bottom: 30px;
}
.search-results .page-teaser-image {
  overflow: hidden;
  float: left;
  margin-right: 2%;
  width: 150px;
}
.breadcrumbs {
  color: #555555;
}
.breadcrumbs a {
  color: #c2d2da;
}
.breadcrumbs a:hover {
  color: #83a3b3;
}
@media only screen and (min-width: 801px) {
  .mobile-bar,
  .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    padding-top: 53.75px;
  }
  body[data-menu-open] {
    overflow: hidden;
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-box-shadow: 0 0 7px #555555;
  -moz-box-shadow: 0 0 7px #555555;
  box-shadow: 0 0 7px #555555;
}
.mobile-bar.top {
  top: 0;
  height: 43.75px;
  line-height: 43.75px;
  color: #ffffff;
  background: #c2d2da;
}
.mobile-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.mobile-overlay.open {
  display: block;
}
.menu-btn {
  cursor: pointer;
  background: transparent;
  padding: 0;
  text-transform: uppercase;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-btn:before {
  content: '';
  margin-top: 11.875px;
  height: 20px;
  width: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+WzxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz50cmFuc3BhcmVudCAyMCV0cmFuc3BhcmVudCA0MCU8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPnRyYW5zcGFyZW50IDYwJXRyYW5zcGFyZW50IDgwJTxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPl08L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
}
.menu-btn.left {
  float: left;
}
.menu-btn.left:before {
  float: left;
}
.menu-btn.right {
  float: right;
  text-align: right;
}
.menu-btn.right:before {
  float: right;
}
.sub-menu-btn {
  float: right;
  width: 2.5em;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#1a000000', EndColorStr='#1a000000')";
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#1a000000', EndColorStr='#1a000000');
  zoom: 1 !important;
}
.sub-menu-btn:before {
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+WzxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz50cmFuc3BhcmVudCAyMCV0cmFuc3BhcmVudCA0MCU8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPnRyYW5zcGFyZW50IDYwJXRyYW5zcGFyZW50IDgwJTxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPl08L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
}
.sub-menu-btn:hover,
.sub-menu-btn.active {
  background: rgba(0, 0, 0, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000')";
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#33000000', EndColorStr='#33000000');
  zoom: 1 !important;
}
.mobile-menu {
  float: none;
  max-width: none;
  height: auto;
  text-align: left;
  margin: 0 !important;
  line-height: 35px;
  position: fixed;
  z-index: 99;
  top: 43.75px;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 300px;
  background: #c2d2da;
  color: #ffffff;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile-menu a {
  padding-top: 0;
  padding-bottom: 0;
}
.mobile-menu a:hover,
.mobile-menu a.current {
  background: #b2c6d0;
  color: #ffffff;
}
.mobile-menu > * ul {
  width: auto;
  position: static;
  display: none !important;
  background: #ffffff;
  color: #555555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mobile-menu > * ul a:hover,
.mobile-menu > * ul a.current {
  background: #f2f2f2;
  color: #555555;
}
.mobile-menu > * ul.open {
  display: block !important;
}
.mobile-menu li {
  float: none;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-menu li li {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-menu.top,
.mobile-menu.bottom {
  right: 0;
  width: auto;
  height: auto;
}
.mobile-menu.top {
  bottom: auto;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.mobile-menu.bottom {
  top: auto;
  bottom: 43.75px;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.mobile-menu.right {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
[data-menu-open="left"] .mobile-menu.left,
[data-menu-open="right"] .mobile-menu.right {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
[data-menu-open="top"] .mobile-menu.top,
[data-menu-open="bottom"] .mobile-menu.bottom {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.menu-btn.left:before {
  margin-left: 0px;
  margin-right: 5px;
}
.menu-btn.left.active:before {
  margin-left: -8px;
  margin-right: 13px;
}
.menu-btn.right:before {
  margin-right: 0px;
  margin-left: 5px;
}
.menu-btn.right.active:before {
  margin-right: -8px;
  margin-left: 13px;
}
@media only screen and (max-width: 800px) {
  .dropdown-overlay {
    background: rgba(255, 255, 255, 0);
  }
  .dropdown-menu {
    background: #c2d2da !important;
    color: #ffffff !important;
    position: fixed;
    z-index: 99;
    width: 300px;
    max-width: 90%;
    max-height: 70%;
    display: none;
    border: 2px solid #b2c6d0;
    margin: 0 !important;
    overflow: auto;
    -webkit-box-shadow: 0 2px 10px #555555;
    -moz-box-shadow: 0 2px 10px #555555;
    box-shadow: 0 2px 10px #555555;
  }
  .dropdown-menu.open {
    display: block;
  }
  .dropdown-menu.centered {
    top: 50%;
    left: 0;
    right: 0;
    margin: auto !important;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .dropdown-menu.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
  }
  .dropdown-menu.top {
    top: 46.75px;
    bottom: auto;
  }
  .dropdown-menu.bottom {
    bottom: 46.75px;
    top: auto;
  }
  .dropdown-menu.right {
    right: 5px;
    left: auto;
  }
  .dropdown-menu.left {
    left: 5px;
    right: auto;
  }
}
