/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
.hidden,
template {
  display: none !important;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #eeeeee;
  padding: 8px 12px;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0 .75em;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection {
  background: #c2d2da;
  color: #ffffff;
}
::selection {
  background: #c2d2da;
  color: #ffffff;
}
body {
  -webkit-font-smoothing: subpixel-antialiased !important;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
em {
  font-style: italic;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
a:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
*:focus {
  outline: none;
}
a,
[type="submit"],
[type="button"],
button,
[type="checkbox"],
[type="radio"] {
  cursor: pointer;
}
img,
[type="checkbox"],
[type="radio"] {
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}
.fb-like-box > span,
.fb-like-box iframe {
  position: relative !important;
  width: 100% !important;
}
.mobile iframe {
  width: 100%;
}
.gall {
  display: inline-block;
  vertical-align: middle;
}
.gmaps {
  color: #000;
  max-width: 100%;
}
.gmaps img {
  max-width: none;
}
.ltr {
  direction: ltr;
  unicode-bidi: bidi-override;
}
.rtl {
  direction: rtl;
  unicode-bidi: bidi-override;
}
[contenteditable="true"] {
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  cursor: text;
  padding: 2px 6px;
}
input,
select,
textarea,
button {
  max-width: 100%;
  width: 100%;
  font-family: inherit;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
button::-webkit-input-placeholder {
  color: #cccccc;
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder,
button:-moz-placeholder {
  color: #cccccc;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder,
button::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
button:-ms-input-placeholder {
  color: #cccccc;
}
button,
[type="file"],
[type="image"],
[type="submit"],
[type="reset"],
[type="button"],
[type="radio"],
[type="checkbox"] {
  width: auto;
}
[type="file"] {
  border: none;
  padding: 0;
}
[type="color"] {
  padding: 0;
}
textarea {
  vertical-align: top;
  line-height: normal;
  resize: none;
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  padding: 0;
  border: none;
  height: auto;
}
[type="checkbox"]:focus,
[type="radio"]:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
[disabled] {
  cursor: default;
}
.main_menu,
.listpages,
.listcategories,
.featureditem,
.featureapage,
.search-results,
.relatedpages,
.listxrss,
.related-products {
  *zoom: 1;
}
.main_menu:after,
.listpages:after,
.listcategories:after,
.featureditem:after,
.featureapage:after,
.search-results:after,
.relatedpages:after,
.listxrss:after,
.related-products:after,
.main_menu:before,
.listpages:before,
.listcategories:before,
.featureditem:before,
.featureapage:before,
.search-results:before,
.relatedpages:before,
.listxrss:before,
.related-products:before {
  content: "";
  display: table;
}
.main_menu:after,
.listpages:after,
.listcategories:after,
.featureditem:after,
.featureapage:after,
.search-results:after,
.relatedpages:after,
.listxrss:after,
.related-products:after {
  clear: both;
}
::i-block-chrome,
.main_menu,
::i-block-chrome,
.listpages,
::i-block-chrome,
.listcategories,
::i-block-chrome,
.featureditem,
::i-block-chrome,
.search-results,
::i-block-chrome,
.relatedpages,
::i-block-chrome,
.listxrss,
::i-block-chrome,
.related-products {
  display: table;
  width: 100%;
}
.static_menu,
.static_menu li,
.main_menu,
.main_menu li,
.main_menu ul,
.main_menu ul li,
.sitemap,
.sitemap li,
.listpages,
.listpages li,
.listcategories,
.listcategories li,
.featureditem,
.featureditem li,
.featureapage,
.relatedpages,
.relatedpages li,
.listxrss,
.listxrss li,
.search-results,
.search-results li,
.img_gallery,
.img_gallery li,
.related-products,
.related-products li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.listpages li,
.listcategories li,
.featureditem li,
.featureapage li,
.search-results li,
.relatedpages li,
.listxrss li,
.related-products li {
  position: relative;
}
.listpages a,
.listcategories a,
.featureditem a,
.featureapage a,
.search-results a,
.relatedpages a,
.listxrss a,
.related-products a {
  display: block;
}
.listpages img,
.listcategories img,
.featureditem img,
.featureapage img,
.search-results img,
.relatedpages img,
.listxrss img,
.related-products img {
  width: 100%;
}
.listpages .page-title,
.listcategories .page-title,
.featureditem .page-title,
.featureapage .page-title,
.search-results .page-title,
.relatedpages .page-title,
.listxrss .page-title,
.related-products .page-title {
  margin: 0 0 0.25em;
  font-size: 1.25em;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, serif;
}
.listpages span,
.listcategories span,
.featureditem span,
.featureapage p,
.search-results span,
.relatedpages span,
.listxrss p,
.related-products .product-description {
  display: block;
  overflow: hidden;
  margin: 0;
}
.listpages span:empty,
.listcategories span:empty,
.featureditem span:empty,
.featureapage p:empty,
.search-results span:empty,
.relatedpages span:empty,
.listxrss p:empty,
.related-products .product-description:empty {
  display: none;
}
.reset-style {
  float: none;
  width: auto;
  height: auto;
  background: transparent;
  border: 0 none;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  position: static;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: none 0.5s ease;
  -moz-transition: none 0.5s ease;
  transition: none 0.5s ease;
}
.reset-style:hover,
.reset-style:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.disable-hover {
  pointer-events: none;
}
@font-face {
  font-family: "flexkit-icons";
  src: url("../fonts/icons/flexkit-icons.eot");
  src: url("../fonts/icons/flexkit-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/flexkit-icons.woff") format("woff"), url("../fonts/icons/flexkit-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon12,
.icon14,
.icon16,
.icon18,
.icon24,
.icon32,
.icon48,
.icon64 {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.icon12 {
  width: 12px !important;
  height: 12px !important;
  line-height: 12px !important;
  font-size: 0 !important;
}
.icon12:before {
  font-size: 12px !important;
}
.icon14 {
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
  font-size: 0 !important;
}
.icon14:before {
  font-size: 14px !important;
}
.icon16 {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  font-size: 0 !important;
}
.icon16:before {
  font-size: 16px !important;
}
.icon18 {
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
  font-size: 0 !important;
}
.icon18:before {
  font-size: 18px !important;
}
.icon24 {
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
  font-size: 0 !important;
}
.icon24:before {
  font-size: 24px !important;
}
.icon32 {
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  font-size: 0 !important;
}
.icon32:before {
  font-size: 32px !important;
}
.icon48 {
  width: 48px !important;
  height: 48px !important;
  line-height: 48px !important;
  font-size: 0 !important;
}
.icon48:before {
  font-size: 48px !important;
}
.icon64 {
  width: 64px !important;
  height: 64px !important;
  line-height: 64px !important;
  font-size: 0 !important;
}
.icon64:before {
  font-size: 64px !important;
}
[class*="icon-"],
[class^=" icon-"] {
  position: relative;
}
.toaster-icon,
[class*="icon-"]:before,
[class^=" icon-"]:before,
[data-icon]:before,
.ui-datepicker-prev:before,
.ui-datepicker-next:before,
.newslog-tag-filter:before {
  font-family: 'flexkit-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:before {
  content: attr(data-icon);
}
.icon-home:before {
  content: "\e000";
}
.icon-home2:before {
  content: "\e001";
}
.icon-home3:before {
  content: "\e002";
}
.icon-office:before {
  content: "\e003";
}
.icon-newspaper:before {
  content: "\e004";
}
.icon-pencil:before {
  content: "\e005";
}
.icon-pencil2:before {
  content: "\e006";
}
.icon-pencil3:before {
  content: "\e007";
}
.icon-pencil4:before {
  content: "\e008";
}
.icon-feather:before {
  content: "\e009";
}
.icon-brush:before {
  content: "\e00a";
}
.icon-pictures:before {
  content: "\e00b";
}
.icon-pictures2:before {
  content: "\e00c";
}
.icon-picture:before {
  content: "\e00d";
}
.icon-picture2:before {
  content: "\e00e";
}
.icon-pictures3:before {
  content: "\e00f";
}
.icon-camera:before {
  content: "\e010";
}
.icon-camera2:before {
  content: "\e011";
}
.icon-movie:before {
  content: "\e012";
}
.icon-movie2:before {
  content: "\e013";
}
.icon-movie3:before {
  content: "\e014";
}
.icon-film:before {
  content: "\e015";
}
.icon-film2:before {
  content: "\e016";
}
.icon-king:before {
  content: "\e017";
}
.icon-queen:before {
  content: "\e018";
}
.icon-announcement:before {
  content: "\e019";
}
.icon-announcement2:before {
  content: "\e01a";
}
.icon-broadcast:before {
  content: "\e01b";
}
.icon-books:before {
  content: "\e01c";
}
.icon-reading:before {
  content: "\e01d";
}
.icon-file:before {
  content: "\e01e";
}
.icon-file-add:before {
  content: "\e01f";
}
.icon-file-remove:before {
  content: "\e020";
}
.icon-copy:before {
  content: "\e021";
}
.icon-stack:before {
  content: "\e022";
}
.icon-folder:before {
  content: "\e023";
}
.icon-folder2:before {
  content: "\e024";
}
.icon-folder-add:before {
  content: "\e025";
}
.icon-folder-remove:before {
  content: "\e026";
}
.icon-folder-add2:before {
  content: "\e027";
}
.icon-folder-remove2:before {
  content: "\e028";
}
.icon-folder-download:before {
  content: "\e029";
}
.icon-folder-upload:before {
  content: "\e02a";
}
.icon-folder-download2:before {
  content: "\e02b";
}
.icon-folder-upload2:before {
  content: "\e02c";
}
.icon-folder3:before {
  content: "\e02d";
}
.icon-folder4:before {
  content: "\e02e";
}
.icon-tag:before,
.newslog-tag-filter:before {
  content: "\e02f";
}
.icon-tag2:before {
  content: "\e030";
}
.icon-tag3:before {
  content: "\e031";
}
.icon-tag4:before {
  content: "\e032";
}
.icon-tag5:before {
  content: "\e033";
}
.icon-barcode:before {
  content: "\e034";
}
.icon-barcode2:before {
  content: "\e035";
}
.icon-ticket:before {
  content: "\e036";
}
.icon-cart:before {
  content: "\e037";
}
.icon-cart2:before {
  content: "\e038";
}
.icon-cart3:before {
  content: "\e039";
}
.icon-cart4:before {
  content: "\e03a";
}
.icon-cart-add:before {
  content: "\e03b";
}
.icon-cart-remove:before {
  content: "\e03c";
}
.icon-cart-checkout:before {
  content: "\e03d";
}
.icon-basket:before {
  content: "\e03e";
}
.icon-basket2:before {
  content: "\e03f";
}
.icon-bag:before {
  content: "\e040";
}
.icon-coin:before {
  content: "\e041";
}
.icon-support:before {
  content: "\e042";
}
.icon-phone:before {
  content: "\e043";
}
.icon-phone2:before {
  content: "\e044";
}
.icon-phone3:before {
  content: "\e045";
}
.icon-phone4:before {
  content: "\e046";
}
.icon-address:before {
  content: "\e047";
}
.icon-address2:before {
  content: "\e048";
}
.icon-notebook:before {
  content: "\e049";
}
.icon-mail:before {
  content: "\e04a";
}
.icon-mail2:before {
  content: "\e04b";
}
.icon-mail3:before {
  content: "\e04c";
}
.icon-mail4:before {
  content: "\e04d";
}
.icon-mail5:before {
  content: "\e04e";
}
.icon-location:before {
  content: "\e04f";
}
.icon-location2:before {
  content: "\e050";
}
.icon-location3:before {
  content: "\e051";
}
.icon-location4:before {
  content: "\e052";
}
.icon-map:before {
  content: "\e053";
}
.icon-map2:before {
  content: "\e054";
}
.icon-history:before {
  content: "\e055";
}
.icon-clock:before {
  content: "\e056";
}
.icon-clock2:before {
  content: "\e057";
}
.icon-wrist-watch:before {
  content: "\e058";
}
.icon-calendar:before {
  content: "\e059";
}
.icon-calendar2:before {
  content: "\e05a";
}
.icon-printer:before {
  content: "\e05b";
}
.icon-printer2:before {
  content: "\e05c";
}
.icon-screen:before {
  content: "\e05d";
}
.icon-screen2:before {
  content: "\e05e";
}
.icon-laptop:before {
  content: "\e05f";
}
.icon-mobile:before {
  content: "\e060";
}
.icon-tablet:before {
  content: "\e061";
}
.icon-mobile2:before {
  content: "\e062";
}
.icon-disk:before {
  content: "\e063";
}
.icon-cd:before {
  content: "\e064";
}
.icon-comments:before {
  content: "\e065";
}
.icon-comments2:before {
  content: "\e066";
}
.icon-comments3:before {
  content: "\e067";
}
.icon-comments4:before {
  content: "\e068";
}
.icon-comments5:before {
  content: "\e069";
}
.icon-comments6:before {
  content: "\e06a";
}
.icon-comments7:before {
  content: "\e06b";
}
.icon-comments8:before {
  content: "\e06c";
}
.icon-comments9:before {
  content: "\e06d";
}
.icon-user:before {
  content: "\e06e";
}
.icon-user-add:before {
  content: "\e06f";
}
.icon-user-remove:before {
  content: "\e070";
}
.icon-users:before {
  content: "\e071";
}
.icon-users2:before {
  content: "\e072";
}
.icon-quote:before {
  content: "\e073";
}
.icon-quote2:before {
  content: "\e074";
}
.icon-quote3:before {
  content: "\e075";
}
.icon-quote4:before {
  content: "\e076";
}
.icon-search:before {
  content: "\e077";
}
.icon-search2:before {
  content: "\e078";
}
.icon-zoom-in:before {
  content: "\e079";
}
.icon-zoom-out:before {
  content: "\e07a";
}
.icon-key:before {
  content: "\e07b";
}
.icon-key2:before {
  content: "\e07c";
}
.icon-locked:before {
  content: "\e07d";
}
.icon-unlocked:before {
  content: "\e07e";
}
.icon-locked2:before {
  content: "\e07f";
}
.icon-unlocked2:before {
  content: "\e080";
}
.icon-cogs:before {
  content: "\e081";
}
.icon-cog:before {
  content: "\e082";
}
.icon-cog2:before {
  content: "\e083";
}
.icon-remove:before {
  content: "\e084";
}
.icon-remove2:before {
  content: "\e085";
}
.icon-remove3:before {
  content: "\e086";
}
.icon-remove4:before {
  content: "\e087";
}
.icon-remove5:before {
  content: "\e088";
}
.icon-clipboard:before {
  content: "\e089";
}
.icon-clipboard2:before {
  content: "\e08a";
}
.icon-grid:before {
  content: "\e08b";
}
.icon-list:before {
  content: "\e08c";
}
.icon-list2:before {
  content: "\e08d";
}
.icon-list3:before {
  content: "\e08e";
}
.icon-grid2:before {
  content: "\e08f";
}
.icon-list4:before {
  content: "\e090";
}
.icon-list5:before {
  content: "\e091";
}
.icon-list6:before {
  content: "\e092";
}
.icon-menu:before {
  content: "\e093";
}
.icon-menu4:before {
  content: "\e094";
}
.icon-link:before {
  content: "\e095";
}
.icon-star:before {
  content: "\e096";
}
.icon-star2:before {
  content: "\e097";
}
.icon-star3:before {
  content: "\e098";
}
.icon-heart:before {
  content: "\e099";
}
.icon-heart2:before {
  content: "\e09a";
}
.icon-thumbs-up:before {
  content: "\e09b";
}
.icon-thumbs-down:before {
  content: "\e09c";
}
.icon-male:before {
  content: "\e09d";
}
.icon-female:before {
  content: "\e09e";
}
.icon-reload:before {
  content: "\e09f";
}
.icon-turn:before {
  content: "\e0a0";
}
.icon-expand:before {
  content: "\e0a1";
}
.icon-cancel:before,
.ui-dialog-titlebar-close:before {
  content: "\e0a2";
}
.icon-checkmark:before {
  content: "\e0a3";
}
.icon-checkmark2:before {
  content: "\e0a4";
}
.icon-checkmark3:before {
  content: "\e0a5";
}
.icon-minus:before {
  content: "\e0a6";
}
.icon-plus:before {
  content: "\e0a7";
}
.icon-plus-sign:before {
  content: "\e0a8";
  vertical-align: middle;
}
.icon-minus-sign:before {
  content: "\e0a9";
  vertical-align: middle;
}
.icon-remove-sign:before {
  content: "\e0aa";
  vertical-align: middle;
}
.icon-ok-sign:before {
  content: "\e0ab";
  vertical-align: middle;
}
.icon-question-sign:before {
  content: "\e0ac";
  vertical-align: middle;
}
.icon-exclamation-sign:before {
  content: "\e0ad";
  vertical-align: middle;
}
.icon-info-sign:before {
  content: "\e0ae";
  vertical-align: middle;
}
.icon-login:before {
  content: "\e0af";
  vertical-align: middle;
}
.icon-logout:before {
  content: "\e0b0";
  vertical-align: middle;
}
.icon-arrow-up:before {
  content: "\e0b1";
}
.icon-arrow-right:before,
.ui-datepicker-next:before {
  content: "\e0b2";
}
.icon-arrow-down:before {
  content: "\e0b3";
}
.icon-arrow-left:before,
.ui-datepicker-prev:before {
  content: "\e0b4";
}
.icon-arrow-up2:before {
  content: "\e0b5";
}
.icon-arrow-right2:before {
  content: "\e0b6";
}
.icon-arrow-down2:before {
  content: "\e0b7";
}
.icon-arrow-left2:before {
  content: "\e0b8";
}
.icon-arrow-up3:before {
  content: "\e0b9";
}
.icon-arrow-right3:before {
  content: "\e0ba";
}
.icon-arrow-down3:before {
  content: "\e0bb";
}
.icon-arrow-left3:before {
  content: "\e0bc";
}
.icon-arrow-up4:before {
  content: "\e0bd";
}
.icon-arrow-right4:before {
  content: "\e0be";
}
.icon-arrow-down4:before {
  content: "\e0bf";
}
.icon-arrow-left4:before {
  content: "\e0c0";
}
.icon-arrow-down5:before {
  content: "\e0c1";
}
.icon-arrow-left5:before {
  content: "\e0c2";
}
.icon-arrow-right5:before {
  content: "\e0c3";
}
.icon-arrow-up5:before {
  content: "\e0c4";
}
.icon-arrow-left6:before {
  content: "\e0c5";
}
.icon-arrow-right6:before {
  content: "\e0c6";
}
.icon-arrow-up7:before {
  content: "\e0c7";
}
.icon-arrow-right7:before {
  content: "\e0c8";
}
.icon-arrow-left7:before {
  content: "\e0c9";
}
.icon-arrow-down7:before {
  content: "\e0ca";
}
.icon-sort-up:before {
  content: "\e0cb";
}
.icon-sort-down:before {
  content: "\e0cc";
}
.icon-sort:before {
  content: "\e0cd";
}
.icon-delivery:before {
  content: "\e0ce";
}
.icon-delivery2:before {
  content: "\e0cf";
}
.icon-delivery3:before {
  content: "\e0d0";
}
.icon-delivery4:before {
  content: "\e0d1";
}
.icon-delivery5:before {
  content: "\e0d2";
}
.icon-idcard:before {
  content: "\e0d3";
}
.icon-idcard2:before {
  content: "\e0d4";
}
.icon-idcard3:before {
  content: "\e0d5";
}
.icon-mail-book:before {
  content: "\e0d6";
}
.icon-user-book:before {
  content: "\e0d7";
}
.icon-earth:before {
  content: "\e0d8";
}
.icon-gplus:before {
  content: "\e0d9";
}
.icon-gplus2:before {
  content: "\e0da";
}
.icon-gplus3:before {
  content: "\e0db";
}
.icon-facebook:before {
  content: "\e0dc";
}
.icon-facebook2:before {
  content: "\e0dd";
}
.icon-facebook3:before {
  content: "\e0de";
}
.icon-twitter:before {
  content: "\e0df";
}
.icon-twitter2:before {
  content: "\e0e0";
}
.icon-twitter3:before {
  content: "\e0e1";
}
.icon-feed:before {
  content: "\e0e2";
}
.icon-feed2:before {
  content: "\e0e3";
}
.icon-feed3:before {
  content: "\e0e4";
}
.icon-youtube:before {
  content: "\e0e5";
}
.icon-youtube2:before {
  content: "\e0e6";
}
.icon-vimeo:before {
  content: "\e0e7";
}
.icon-vimeo2:before {
  content: "\e0e8";
}
.icon-linkedin:before {
  content: "\e0e9";
}
.icon-linkedin4:before {
  content: "\e0ea";
}
.icon-linkedin2:before {
  content: "\e0eb";
}
.icon-html5:before {
  content: "\e0ec";
}
.icon-html52:before {
  content: "\e0ed";
}
.icon-chrome:before {
  content: "\e0ee";
}
.icon-firefox:before {
  content: "\e0ef";
}
.icon-IE:before {
  content: "\e0f0";
}
.icon-opera:before {
  content: "\e0f1";
}
.icon-safari:before {
  content: "\e0f2";
}
.icon-toaster:before {
  content: "\e0f3";
}
