<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
<title>{$page:title}</title>
<meta name="keywords" content="{$meta:keywords}">
<meta name="description" content="{$meta:description}">
<meta name="author" content="SeoToaster">

<!-- Mobile Specific Metas -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="480">
<!--[if IE]><meta http-equiv="cleartype" content="on"><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{$page:title}">

<!-- Favicons -->
<!-- Favicon Generator => http://realfavicongenerator.net/ -->
<!-- iOS -->
<link rel="apple-touch-icon" sizes="57x57" href="images/touch/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/touch/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/touch/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/touch/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/touch/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/touch/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/touch/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/touch/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/touch/apple-touch-icon-180x180.png">

<!-- Win8 -->
<meta name="application-name" content="{$page:title}"/>
<meta name="msapplication-tooltip" content="{$meta:description}"/>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/touch/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="images/touch/mstile-70x70.png"/>
<meta name="msapplication-square150x150logo" content="images/touch/mstile-150x150.png"/>
<meta name="msapplication-square310x310logo" content="images/touch/mstile-310x310.png"/>
<meta name="msapplication-wide310x150logo" content="images/touch/mstile-310x150.png"/>

<!-- Desktop and Android -->
<link rel="icon" type="image/png" href="images/favicon/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="images/favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="images/favicon/favicon.ico">
<!--[if IE]><link rel="shortcut icon" href="images/favicon/favicon.ico"><![endif]-->

<!-- CSS -->
{concatcss}
<link href="css/reset.css" rel="stylesheet" media="screen">
<link href="css/content.css" rel="stylesheet" media="screen">
<link href="css/nav.css" rel="stylesheet" media="screen">
<link href="css/style.css" rel="stylesheet" media="screen">
<!-- Shopping css -->
<link href="css/store.css" rel="stylesheet" media="screen">
<!-- Additional css -->
<link href="css/flexkit.css" rel="stylesheet" media="screen">
{/concatcss}

<!-- HTML5shiv and selectivizr.js IE support of HTML5 elements and CSS3 pseudo-classes, attribute selectors -->
<!--[if lt IE 9]><script src="js/system/ie-pack.min.js"></script><![endif]-->