<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span data-menu-position="left" class="menu-btn left">Menu</span>
</div>

<aside class="mobile-menu left">
    {$menu:main:_main menu}
</aside>