<a class="btn icon gplus icon-gplus" target="_blank" href="{$plugin:widcard:BizGplusAccount:notag}"></a>
<a class="btn icon facebook icon-facebook" target="_blank" href="{$plugin:widcard:BizFbAccount:notag}"></a>
<a class="btn icon twitter icon-twitter" target="_blank" href="{$plugin:widcard:BizTwitterAccount:notag}"></a>
<a class="btn icon linkedin icon-linkedin" target="_blank" href="{$plugin:widcard:BizLinkedInAccount:notag}"></a>
<a class="btn icon rss icon-feed" target="_blank" href="{$plugin:widcard:BizRssChannel:notag}"></a>
<a class="btn icon youtube icon-youtube" target="_blank" href="{$plugin:widcard:BizYoutubeChannel:notag}"></a>