@menu-height                       : @button-height-base;

@menu-bg                           : @primary-bg;
@menu-color                        : @primary-color;

@menu-bg-li-hover                  : darken(@menu-bg, 5%);
@menu-bg-li-current                : @menu-bg-li-hover;

@menu-color-li-hover               : @menu-color;
@menu-color-li-current             : @menu-color-li-hover;

@menu-drop-down-list-bg            : #fff;
@menu-drop-down-list-bg-hover      : darken(@menu-drop-down-list-bg, 5%);
@menu-drop-down-list-bg-current    : @menu-drop-down-list-bg-hover;

@menu-drop-down-list-color         : @text-color;
@menu-drop-down-list-color-hover   : @menu-drop-down-list-color;
@menu-drop-down-list-color-current : @menu-drop-down-list-color;

.mobile-menu{
    // reset style for menu
    float       : none;
    max-width   : none;
    height      : auto;
    text-align  : left;
    margin      : 0 !important;
    //style menu mobile
    line-height : @menu-height;
    position    : fixed;
    z-index     : @mobile-bar-zindex - 1;
    top         : @top-block-height;
    bottom      : 0;
    left        : 0;
    overflow    : auto;
    width       : 300px;
    //    opacity     : 0;
    background  : @menu-bg;
    color       : @menu-color;
    .transform(translateX(-100%));
    .transition(all; 0.3s);

    a{
        padding-top    : 0;
        padding-bottom : 0;

        &:hover, &.current{
            background : @menu-bg-li-hover;
            color      : @menu-color-li-hover;
        }
    }

    & > * ul{
        width      : auto;
        position   : static;
        display    : none !important;
        background : @menu-drop-down-list-bg;
        color      : @menu-drop-down-list-color;
        .box-shadow(none);

        a{
            &:hover, &.current{
                background : @menu-drop-down-list-bg-hover;
                color      : @menu-drop-down-list-color-hover;
            }
        }

        &.open{
            display : block !important;
        }
    }

    li{
        float         : none;
        display       : block;
        border        : none;
        border-bottom : 1px solid rgba(0, 0, 0, .1);

        li{
            border     : none;
            border-top : 1px solid rgba(0, 0, 0, .1);
        }
    }

    &.top, &.bottom{
        right  : 0;
        width  : auto;
        height : auto;
    }

    &.top{
        bottom : auto;
        .transform(translateY(-100%));
    }

    &.bottom{
        top    : auto;
        bottom : @top-block-height;
        .transform(translateY(100%));
    }

    &.right{
        right : 0;
        left  : auto;
        .transform(translateX(100%));
    }

    [data-menu-open="left"] &.left, [data-menu-open="right"] &.right{
        .transform(translateX(0));
    }

    [data-menu-open="top"] &.top, [data-menu-open="bottom"] &.bottom{
        .transform(translateY(0));
    }
}

.menu-btn{

    &.left{
        &:before{
            margin-left  : 0px;
            margin-right : 5px;
        }

        &.active{
            &:before{
                margin-left  : -8px;
                margin-right : 13px;
            }
        }
    }

    &.right{

        &:before{
            margin-right : 0px;
            margin-left  : 5px;
        }

        &.active{
            &:before{
                margin-right : -8px;
                margin-left  : 13px;
            }
        }
    }
}